allow vendor_init bluetooth_data_file:file { setattr rw_file_perms };
allow vendor_init radio_data_file:file { setattr create_file_perms };
allow vendor_init wifi_data_file:dir { setattr getattr search rw_dir_perms };
allow vendor_init wifi_data_file:file {create_file_perms};
allow vendor_init wpa_socket:dir { setattr getattr rw_dir_perms };
allow vendor_init firmware_file:dir rw_dir_perms;
